<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - xueth's Articles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel='stylesheet' href='https://chinese-fonts-cdn.deno.dev/packages/lxgwwenkai/dist/LXGWWenKai-Regular/result.css'>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="article-page">
    <div id="app">
        <div class="content">
            {{ content|safe }}
        </div>
        <div class="links-container">
            <div class="home-link">
                <a href="{{ url_for('main.articles') }}">回到文章列表</a>
            </div>
            <div class="home-link">
                <a href="{{ url_for('main.homepage') }}">回到主页</a>
            </div>
        </div>
    </div>
    <div class="external-links">
        {% for link in external_links %}
            <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
            {% if not loop.last %} | {% endif %}
        {% endfor %}
    </div>
</body>
</html>